<!DOCTYPE html>
<html>
<head>
	<title>Pager App</title>
	<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Pager App">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

    <link rel="stylesheet" type="text/css" href="assets/css/general.css">
    <script type="text/javascript" src="assets/js/main.js"></script>
    <script type="text/javascript" src="assets/lib/angular/angular.js"></script>
    <script type="text/javascript" src="assets/js/app/app.js"></script>
    <script type="text/javascript" src="assets/js/app/DashboardCtrl.js"></script>
</head>
<body ng-app="pagerApp" ng-controller="DashboardCtrl">
<header>
	<div class="container">
		<div class="logo">LOGO HERE</div>
		<ul class="menu">
			<li><div class="btn btn-outline">ABOUT</div></li>
			<li><div class="btn btn-outline">FAQs</div></li>
			<li><div class="btn btn-outline">CONTACT</div></li>
			<li>John Appleseed <i class="icon icon-dropdown"></i></li>
		</ul>
		<div class="clearfix"></div>
	</div>
</header>

<div class="container rooms">
	<div class="rooms-row">
		<div class="room" ng-repeat="room in rooms">
			<div class="room-header">
				{{ room.name }}
				<i class="icon icon-dots" ng-click="rooms.splice($index, 1)"></i>
			</div>

			<div class="room-info">
				<div class="circle-container {{room.status}}">
					
					<div id='circle{{$index}}' class="dynamic-circle">
						<div class="white-circle">
							<div class="circle green">
								{{ room.status == 'empty' ? 'ROOM EMPTY' : room.status == 'pending' ? 'PATIENT IN ROOM' : 'PATIENT READY'}}
								<span>{{ room.time / 60 | floor }}m {{ room.time % 60 }}s</span>
							</div>
						</div>
					</div>
					
				</div>
				<div class="buttons-container">
					<div class="tip">Set room’s status:</div>
					<div class="btn btn-gray" ng-click="changeStatus($index, 'empty')" ng-disabled="room.status != 'empty'">
						<i class="icon icon-tick"></i>
						ROOM EMPTY
					</div>
					<div class="btn btn-orange" ng-click="changeStatus($index, 'pending')" ng-disabled="room.status != 'pending'">
						<i class="icon icon-tick"></i>
						PATIENT IN ROOM
					</div>
					<div class="btn btn-green" ng-click="changeStatus($index, 'ready')" ng-disabled="room.status != 'ready'">
						<i class="icon icon-tick"></i>
						PATIENT READY
					</div>
				</div>
			</div>
			<div class='dash-line'></div>

			<div class="room-footer">
				<select>
					<option>Send message</option>
					<option>Fxd</option>
					<option>Hyg CEx</option>
					<option>Hyg PEX</option>
					<option>RCT</option>
					<option>POT</option>
					<option>Op Dent</option>
					<option>Rem Pros</option>
					<option>Ortho</option>
					<option>Emerg</option>
					<option>Surg Oth</option>
					<option>Other</option>
				</select>
				<div class="btn btn-default">SEND</div>
			</div>
		</div>


	</div>



		<footer>
			<a href="">Menu link</a>
			<a href="">Menu link</a>
			<a href="">Menu link</a>
			<a href="">Menu link</a>
		</footer>
</div>

</body>
</html>